In [31]:
# utilizando Pandas com SQL Alchemy para armazenamento em banco de dados relacional
import pandas as pd
import sqlalchemy as sql

conexao = sql.create_engine('mysql://cadserv:csed2019@db1.bioinfo.unifesp.br/cadserv')

In [52]:
cad = pd.read_pickle('cad.gz',compression='gzip')

cad.to_sql('cad',conexao, if_exists='replace',chunksize=500)
# pd.set_option('display.max_columns', 10)
len(cad)

780582

In [9]:
cad.dtypes

ID                                      object
Id_SERVIDOR_PORTAL                      object
NOME                                    object
DESCRICAO_CARGO                         object
CLASSE_CARGO                            object
REFERENCIA_CARGO                        object
PADRAO_CARGO                            object
NIVEL_CARGO                             object
FUNCAO                                  object
CODIGO_ATIVIDADE                        object
ATIVIDADE                               object
UORG_LOTACAO                            object
ORG_LOTACAO                             object
ORGSUP_LOTACAO                          object
UORG_EXERCICIO                          object
ORG_EXERCICIO                           object
ORGSUP_EXERCICIO                        object
TIPO_VINCULO                            object
SITUACAO_VINCULO                        object
DATA_INICIO_AFASTAMENTO                 object
DATA_TERMINO_AFASTAMENTO                object
REGIME_JURIDICO                         object
JORNADA_DE_TRABALHO                     object
DATA_INGRESSO_CARGOFUNCAO               object
DATA_NOMEACAO_CARGOFUNCAO               object
DATA_INGRESSO_ORGAO                     object
DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO    object
DIPLOMA_INGRESSO_CARGOFUNCAO            object
DIPLOMA_INGRESSO_ORGAO                  object
DIPLOMA_INGRESSO_SERVICOPUBLICO         object
UF_EXERCICIO                            object
dtype: object

In [44]:
unifesp = pd.read_pickle('unifesp.pik.gz',compression='gzip')

# Criando dicionário fmt para formatação do BD relacional
fmt = {}     #col_name: NVARCHAR(length=255) '

for colu in cad.columns:
    try:
        tamanhoMax =  max(unifesp[colu].apply(len))
        fmt[colu]=sql.types.NVARCHAR(length=tamanhoMax)
    except:
        if colu[:4]=='DATA':
              fmt[colu]=sql.types.Date
        else:
            fmt[colu]=sql.types.Integer
fmt

{'ID': NVARCHAR(length=6),
 'Id_SERVIDOR_PORTAL': NVARCHAR(length=9),
 'NOME': NVARCHAR(length=56),
 'DESCRICAO_CARGO': NVARCHAR(length=40),
 'CLASSE_CARGO': sqlalchemy.sql.sqltypes.Integer,
 'REFERENCIA_CARGO': NVARCHAR(length=2),
 'PADRAO_CARGO': sqlalchemy.sql.sqltypes.Integer,
 'NIVEL_CARGO': NVARCHAR(length=3),
 'FUNCAO': NVARCHAR(length=35),
 'CODIGO_ATIVIDADE': NVARCHAR(length=4),
 'ATIVIDADE': NVARCHAR(length=30),
 'UORG_LOTACAO': NVARCHAR(length=40),
 'ORG_LOTACAO': NVARCHAR(length=33),
 'ORGSUP_LOTACAO': NVARCHAR(length=22),
 'UORG_EXERCICIO': NVARCHAR(length=40),
 'ORG_EXERCICIO': NVARCHAR(length=45),
 'ORGSUP_EXERCICIO': NVARCHAR(length=24),
 'TIPO_VINCULO': NVARCHAR(length=1),
 'SITUACAO_VINCULO': NVARCHAR(length=20),
 'DATA_INICIO_AFASTAMENTO': sqlalchemy.sql.sqltypes.Date,
 'DATA_TERMINO_AFASTAMENTO': sqlalchemy.sql.sqltypes.Date,
 'REGIME_JURIDICO': NVARCHAR(length=28),
 'JORNADA_DE_TRABALHO': NVARCHAR(length=19),
 'DATA_INGRESSO_CARGOFUNCAO': sqlalchemy.sql.sqltypes.Date,
 'DATA_NOMEACAO_CARGOFUNCAO': sqlalchemy.sql.sqltypes.Date,
 'DATA_INGRESSO_ORGAO': sqlalchemy.sql.sqltypes.Date,
 'DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO': sqlalchemy.sql.sqltypes.Date,
 'DIPLOMA_INGRESSO_CARGOFUNCAO': sqlalchemy.sql.sqltypes.Integer,
 'DIPLOMA_INGRESSO_ORGAO': NVARCHAR(length=16),
 'DIPLOMA_INGRESSO_SERVICOPUBLICO': NVARCHAR(length=16),
 'UF_EXERCICIO': NVARCHAR(length=2)}

In [59]:
max(
    unifesp.NOME.apply(len))

56

In [60]:
# Gravando dataframe unifesp no banco de dados relacional, tabela unifespdb, formato fmt


unifesp.to_sql('unifespdb',conexao, if_exists='replace',dtype=fmt)

In [49]:
# Le tabela do banco de dados em Dataframe

unifespdb = pd.read_sql('unifespdb', conexao)
unifespdb.dtypes

index                                            int64
ID                                              object
Id_SERVIDOR_PORTAL                              object
NOME                                            object
DESCRICAO_CARGO                                 object
CLASSE_CARGO                                   float64
REFERENCIA_CARGO                                object
PADRAO_CARGO                                   float64
NIVEL_CARGO                                     object
FUNCAO                                          object
CODIGO_ATIVIDADE                                object
ATIVIDADE                                       object
UORG_LOTACAO                                    object
ORG_LOTACAO                                     object
ORGSUP_LOTACAO                                  object
UORG_EXERCICIO                                  object
ORG_EXERCICIO                                   object
ORGSUP_EXERCICIO                                object
TIPO_VINCULO                                    object
SITUACAO_VINCULO                                object
DATA_INICIO_AFASTAMENTO                 datetime64[ns]
DATA_TERMINO_AFASTAMENTO                datetime64[ns]
REGIME_JURIDICO                                 object
JORNADA_DE_TRABALHO                             object
DATA_INGRESSO_CARGOFUNCAO               datetime64[ns]
DATA_NOMEACAO_CARGOFUNCAO               datetime64[ns]
DATA_INGRESSO_ORGAO                     datetime64[ns]
DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO    datetime64[ns]
DIPLOMA_INGRESSO_CARGOFUNCAO                    object
DIPLOMA_INGRESSO_ORGAO                          object
DIPLOMA_INGRESSO_SERVICOPUBLICO                 object
UF_EXERCICIO                                    object
dtype: object

In [66]:
unifespdb.to_sql('unifespdb2',conexao, if_exists='replace',
                 dtype=fmt,index=False,index_label='index')